body{
      background-color: hsl(0, 0%, 8%);
      margin: 0;              
      min-height: 100vh;         
      display: grid;             
      place-items: center;
      font-family: "Inter", sans-serif;
    }

    .main{
      background-color:hsl(0, 0%, 12%);
      width: 30%;
      max-width: 500px;
      min-width: 300px;
      height: auto;
      padding: 1rem 0;
      font-family: Arial;
      display:grid; 
      justify-content: center; 
      align-items: center;
      border-radius: 0.5rem;
    }

    .img{
    display: grid;
    place-items: center;
    }

    img{
      border-radius: 7rem;
      width: 30%;
      height: auto;
    }

    .button{
      display:grid; 
      justify-content: center; 
      align-items: center;
    }

    button{
      display:block;
      margin: 0.4rem;
      padding: 0.7rem 5rem ;
      background-color:  hsl(0, 0%, 20%);
      color: white;
      border-style:none;
      border-radius: 0.5rem;
      font-weight: bold;
    }

    button:hover{
      background-color: hsl(75, 94%, 57%);
      color:black;
      cursor: pointer;
      
    }